body{
  background-image: url("../assets/netflix-and-chill-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header{
  padding: 0;
  display:flex;
  justify-content: space-around;
  align-items: baseline;
  background-color:#7e8ba0;
  text-decoration: none;
  width: 100%;
  font-family: Garamond;
}

header h1{
  margin-right: 27vw;
}

main {
  display: flex;
  justify-content: space-around;
  margin: 1vw 11vw;
}

.nav-link{
    color: black;
}

.text-message {
  display: flex;
  flex-direction: column;
  width: 33vw;
  height: 45vw;
}

.text-message img {
  height: 40vw;
  width: 23vw;
}

.movies{
  width: 33vw;
}

.reviews{
  width: 33vw;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  color: #fff;

}

form {
  width: auto;
}

#text {
  width: 45px;
  height: 45px;
}

.btn-group-dropup{
  background: white;
  display: flex;
  justify-content: space-between;
  margin-right: 3vw;
}

.reviews{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

textarea[id="review"]{
  background-color:#f9fafc;
}

input[type="submit"] {
  background-color: gray;
  color: white;
  font-weight: 600;
  padding: 1rem 2rem;
  border: none;
  font-size: 1.5rem;
}

label[for="review"]{
    color: #fff;
}
